<html>
  <head>
    <title>Categories</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="header-row">
        <h2 class="title">Categories<h2>
      </div>
          <ul class="categories-list">
              <li>
                <span class="todo-item">cat1</span>
                <div class="btns-container">
                  <button class="move-to-trash"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
              </li>
              <li>
                <span class="todo-item">cat1</span>
                <div class="btns-container">
                  <button class="move-to-trash"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
              </li>
              <li>
                <span class="todo-item">cat1</span>
                <div class="btns-container">
                  <button class="move-to-trash"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
              </li>
          </ul>
    </div>
  </body>
</html>
